<h3>A simple tool for the self-employed to track time and create invoices for clients</h3>
<br>
<h2 id="invoicesTitle">Your Invoices</h2>
<br>
<table id="invoicesTable">
	<th>Name</th>
	<th>Client</th>
	<th>Project</th>
	<th>Date</th>
	<th></th>
	{{#each model as |invoice|}}
		<tr>
			<td>
				{{invoice.firstName}} {{invoice.lastName}}
			</td>
			<td>
				{{invoice.clientName}}
			</td>
			<td>
				{{invoice.projectTitle}}
			</td>
			<td>
				{{invoice.date}}
			</td>
			<td>
				{{#link-to "invoice" invoice class="viewBtn" tagName="button"}}
					View
				{{/link-to}}
			</td>
		</tr>
	{{/each}}
</table>
<br>
{{#link-to "add-invoice" id="addBtn" tagName="div"}}New Invoice{{/link-to}} 